*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

html,body{
    width: 100%;
    background-color: #0ec0c1;
}

.form-container{
    margin-left: 40%;
    
    margin-top: 10%;
    padding: 1px;
    width: 400px;
    height: 600px;
    position: relative;
    background-color: #fef7d5;
    border-radius: 60px;
    box-shadow:20px 20px 20px ;
}

.form-container h2{
    text-align: center;
    padding: 30px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    
    border-radius:60px 60px 0px 0px;
}

.form-container form{
    margin-top: 8px;
    padding: 20px;
}

.form-container form p{
    font-size: 25px;
    text-align: center;
    color: rgb(12, 12, 12);
    padding: 8px;
}

.form-wraper:not(:first-child){
    margin-top: 10px;
}

.form-container form input[type=submit]{
    background-color: #d9e0e0;
    text-transform: uppercase;
    color: black;
    width: 200px;
    font-size: 30px;
    height: 40px;
    margin-left: 80px;
    margin-top: 25px;
    border-radius: 20px;
    border: 1px solid;
    cursor: pointer;
}

.form-container form input[type=password],
.form-container form input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 45px;
    padding-left:40px;
    border-radius: 5px;
}

.bi-telephone-fill{
    margin-left: -90px;
    color: black;
    padding: 30px;
}

.bi-envelope-at-fill{
    margin-left: -120px;
    color: black;
    padding: 30px;
}

.bi-key-fill{
    margin-left: -120px;
    color: black;
    padding: 30px;
}

@media screen and (max-width : 950px){
    .form-container{
        position: static;
        display: inline-block;
        margin-left: 20%;
        width: 96%;
        max-width: 400px;
    }
}