*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Open Sans',sans-serif;
}

html,body{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    padding: 10px 2%;
    background-color: #0ec0c1;
}

.logo1{
    float: left;
    width: 120px;
    height: 100px;
    background-image: url('/img/logo1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

ul{
    display: inline;
    list-style-type: none;
    overflow: hidden;
}

li{
    float: right;
    margin: 20px;
    margin-top: 30px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li a{
   color: white;
   text-align: center;
   padding:0;
   text-decoration:none ;
}

li a:hover{
    color: yellow;
}

section.cover-form{
    width: 100%;
    padding: 0 2%;
}

.bg{
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url('/img/setup.jpg');
}



section.chamada{
    width: 100%;
    padding: 2% 2% 0% 2%;
    text-align: center;
    display: inline-block;
    position: relative;
    
    
}

section.chamada .container{
    padding: 20px ;
    background-color: #fef7d5;
    
}

section.chamada h2{
    width: 96%;
    display: inline-block;
    max-width: 700px;
    color: #210123;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;

}

section.chamada p{
    width: 96%;
    display: inline-block;
    max-width: 700px;
    color: #210123;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

/*  */

.flex-mosaico{
    margin-top: -10px;
    display: flex;
    padding: 2% 2% 2% 2%;
    height: 400px;
    margin: 0;
}

.item1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
    padding: 2%;
}

.item2-mosaico{
    text-align: center;
    background-color:#6c043c ;
    padding: 60px;
    width: 40%;
}

p{
    display: inline-block;
    margin-top: -90px;
    color:white ;
    padding: 60px;
    font-family: 'Open Sans',sans-serif;
    font-size:22px ;
}



@media screen and (max-width: 768px){
  
    .item1-mosaico{
        width: 100%;
    }

    .item2-mosaico{
        width: 100%;
    }
}

@media screen and (max-width: 1768px){
    p{
        margin-top: 20px;
        padding: 10px;
        font-size:18px ;
    }
}



